body{
    position: relative;
    background-color: rgb(24, 23, 23);
    color: aliceblue;
    box-sizing: border-box;
}

button.again{

    background-color: rgb(190, 24, 33);
    height: 30px;
    width: 60px;
    color: aliceblue;
    margin-top: 5px;
}
.upper p{
    display: inline;
    /* background-color: aqua; */
    /* font-size: small; */
      

}
.p{
    float: right;

    font-size: 11px;
    
}

h1{
    text-align: center ;
    font-size: 30px;
}

#display{
    
    text-align: center;
    /* padding-top: 17px; */
}

h3#display{
    
    position: relative;
    border: 1px solid rgb(224, 208, 208);
    border-radius: 20px;
    background-color: rgb(53, 65, 65);
    width: 40%;
    height: 60px;
    margin-left: 30%;
    padding-top: 10px;
    font-size: 40px;
    

}

.down p.message{
    
    color: rgb(255, 255, 255);
    text-align: center;
    margin-right: 0px;
    position: static;
    /* border: 2px solid rgb(194, 120, 120); */
    font-size: 150%;
}
.down p.score{

    text-align: right;
    margin-right: 12%;
}
.down p.highsc{

    text-align: right;
    margin-right: 10%;
}

#input{

    position: relative;
    height: 30px;
    width: 101px;
    font-style: italic;
    font-weight: bold;
    background-color: rgb(53, 65, 65);
    color: aliceblue;
    
}
.check{

    width: 60px;
    height: 30px;
    background-color: rgb(12, 248, 43);
    font-weight: bolder;
    color: rgb(3, 3, 3);
    
}
span{

    color: rgb(187, 255, 187);
    font-weight: bolder;
}



